.place__paragraphs {
  display: flex;
  flex-direction: column;
  gap: 26px;
  max-width: 484px;
}

@media screen and (max-width:768px) {
  .place__paragraphs {
    gap: 25px;
  }
}

@media screen and (max-width:320px) {
  .place__paragraphs {
    gap: 25px;
    margin-left: 16px;
  }
}