.cover__overlay {
  min-height: 740px;
  width: 100%;
  margin: 0 auto;
  padding: 245px 312px;
  text-decoration: none;
  background-image: url(../../../images/cover__background.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.cover__overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(42, 44, 47, .3);
  z-index: -1;
  transition: background-color .4s ease;
}

.cover__overlay:hover::before {
  background-color: rgba(42, 44, 47, .8);
}

@media screen and (max-width:1024px) {
  .cover__overlay {
    min-height: 640px;
    padding: 195px 232px;
  }
}

@media screen and (max-width:768px) {
  .cover__overlay {
    min-height: 480px;
    padding: 115px 104px;
  }
}

@media screen and (max-width:320px) {
  .cover__overlay {
    min-height: 200px;
    padding: 33px 16px;
  }
}